body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
form{
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 290px;
}
h2{
    text-align: center;
    margin-bottom: 50px;
}
.form-control{
    margin-bottom: 15px;
    position: relative;
}
label{
    display: block;
    margin-bottom: 4px;
    font-family: 'Times New Roman', Times, serif;
    
}
input{
    width: 95%;
    padding: 5px 1px;
    border: 2px solid #ccc;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
}
input:focus{
    border-color: #e4daca;
}
small {
    color: #e74c3c;
    position: absolute;
    bottom: -18px;
    left: 0;
    visibility: hidden;
    font-size: 12px;
}
.form-control.error input {
    border-color: #e74c3c;
}
.form-control.error small {
    visibility: visible;
}
button {
    width: 50%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 25%;
}
button:hover {
    background: #0056b3;
}

.success-message {
    display: none;
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 8px 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
}

.success-message.active {
    display: block;
}
input::placeholder{
   text-align: center;
   
}
